* {
    box-sizing: border-box;
}

.App {
    display: flex;
    background-color: #1C203D;
    color: #D5CFE1;
    height: 100vh;
    font-family: 'Roboto Mono', sans-serif;
}

.light {
    background-color: #282B4A ;
}

.meta {
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
}

.search-field {
    width: calc(100%/12*4);
}

.total {
    padding: 25px 0 0 26px;
    background-color: #202030;
    height: 6vh;

}

.total_mob {
    display: none;
}

@media screen and (max-width: 599px) {
    .App {
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }

    .search-field {
        width: calc(100%/12*12);
        max-height: 300px;
        overflow-y: scroll;
    }

    .funnel-data-wrapper {
        width: calc(100%/12*12) !important;
    }
    .total {
        display: none;
    }

    .total_mob {
        display: block;
        height: 40px;
        text-align: center;
        padding: 10px 0 10px;
    }

}
